@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list/intro__list.css);
@import url(./__item/intro__item.css);

.intro{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 612px;
  padding: 98px 0px 98px 148px;
  box-sizing: border-box;
}


@media (max-width: 1024px){
  .intro{
    padding: 92px 0px 92px 48px;
  }
}

@media (max-width: 768px){
  .intro{
    padding: 88px 24px 88px 24px;
    min-height: 604px;
  }
}

@media (max-width: 700px){
  .intro{
    padding: 56px 16px 54px 16px;
    min-height: 604px;
  }
}

